<!--
<div class="panel">
    <h5>
        Profile Summary
    </h5>
</div>
-->
<div class="row">
    <div class="large-5 columns">
        <div class="panel profile-info">
          <div class="pofile-pic">
              <img ng-src="/images/{{item.image}}" class="img-contact"/>
          </div>
           
            {{ item.name }}
        </div>
    </div>
    <div class="large-7 columns">
        <div class="panel profile-info">
            {{ item.location }}
        </div>
    </div>
</div>