
[ui-view].ng-enter{
    position: absolute;
    left: 0;
    right: 0;
    transition: all .2s linear;
}

[ui-view].ng-enter {
    opacity: 0;
    top: 10px;
//    transform: translate(0, 0);
}

[ui-view].ng-enter-active {
    opacity: 1;
    top:0;
//    transform: translate(100px, 0);
}

