<div class="row">
    <div class="large-3 columns list-people-container">
<!--        <div class="list-people-container">-->
            <div class="row search-container">
                <div class="large-9 columns search-input">

                    <input type="text" ng-model="query.name" placeholder="Search..." />
                </div>
                <div class="large-2 columns search-icon">
                    <i class="fi-magnifying-glass"></i>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <ul class="menu-side-nav list-people">
                        <li ng-repeat="item in people | orderBy: 'name' | filter:query" 
                            ng-click="select($index)" 
                            ng-class="{active: $index == selected}">
                            <a ui-sref=".profile({ profile : item })">
                                <div class="row">
                                    <div class="large-2 columns">
                                        <img ng-src="/images/profile-pics/{{item.image}}" class="img-contact" />
                                    </div>
                                    <div class="large-9 columns">
                                        <div class="name">
                                            {{ item.name }}
                                        </div>
<!--
                                        <div>
                                            {{ item.location }}
                                        </div>
-->
                                        <div>
                                            {{ item.contactNumber }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

<!--        </div>-->
    </div>
    <div class="large-9 columns person-profile">
       <div ui-view>
           
       </div>
    </div>
</div>




<!--
<div class="panel">
    <h1>
        People
    </h1>
</div>


<div class="panel">
    Test
</div>-->